@media screen and (max-width: 950px){
    html{
        display:flex;
        margin:auto;
    }
    
    *{
        margin: 0;
        padding: 0
    }

    .header{
        flex-direction: column;
        align-items: center;
        margin-top: 3%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    .header div{
        display: flex;
        justify-content: center;
    }

    .fonte-logo{
        font-size: 20px;
    }

    .nosso-produto{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 3%;
        justify-content: space-around;
    }

    .nosso-produto div{
        width:70%;
    }

    .card{
        width:65%; 
        border-color: black;
        border:10%;
        margin-bottom: 5%;
        margin-top: 5%;
        
    }

    .card img{
        width:100%;
    }

    .card-body{
        background-color: rgb(254, 184, 89);
        padding:0;
    }

    .card-header{
        background-color: rgb(254, 184, 89);
    }

    .card-group{
        flex-wrap: wrap;
        display:flex;
        justify-content:space-between;
    }

    .geleia a{
        color: black;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .container-social{
        padding-bottom: 10px;
        border-top: 60%;
        border-color: aqua;
        border-radius: 10%;
    }

    .pasta-amedoim{
        display: flex;
        justify-content:center
    }

    .card-footer{
        background-color: rgb(254, 184, 89);
        border-color: black;
        }

    .div-botao{
        display: flex;
    }

        .botao{
        background-color: rgb(254, 184, 89);
        border: solid;
    }

    .botoes{
        display: flex;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .lista-on{
        display: flex;
    }

    .lista-off{
        display: none;
    }

    .favorita{
        margin-left: 5%;
        font-size: 60%;
    }

    .marca-empresa{
        font-size: 80%;
    }

}