body, html{
    height: 100%;
    width: 100%;
  }
.corpo{
    font-family: Georgia, 'Times New Roman', 'Roboto Slab', Times, serif;
    background-color: rgb(254, 184, 89);
}

.navbar{
    background-color: rgb(254, 184, 89);
    justify-content:space-between;
}

/*
.nav-link{
    color: orange;
}
*/

#nosso-produto{
    background: rgba(255, 165, 38, 0.715);
    display:flex;
    flex-direction: column;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px ;
}

.contatos{
    background: rgba(255, 165, 38, 0.715);
}

/*.geleia{
    background: rgba(255, 165, 38, 0.715);
}*/

.sm-footer{
    background-color: rgb(94, 94, 255);
    color: black;   
}

.rodape a{
    color:black;
}

.dropdown-link{
    color: wheat;
}

.fonte-logo{
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

.card{
    justify-content: center;
    align-content: column;
    display: table-cell;
    margin-bottom: 5px;
    border-color: black;
}

.rodape-click{
    margin-bottom: 0;
}

.card-text .p{
    display:contents;
}