*{
    margin: 0;
    padding: 0
}

body{
    background-color: rgb(254, 184, 89)
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.fonte-logo{
    font-size: 25px;
}

.geleia{
    padding-top:5%;
    padding-bottom:5%;
    margin-top:1px;
    background-color: rgba(255, 165, 38, 0.715); 
    display: flex;
    flex-direction:column;
    align-items: center;  
}

.container-produto h2{
    margin-left: 30%;
}

.container-produto p{
    margin-left: 10%;
}

.nosso-produto{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    padding-top: 3%;
    justify-content: space-around;
    color:black;
    background-color: rgba(255, 165, 38, 0.715);
}

.nosso-produto img{
    border-radius: 100%;
    padding-bottom: 3%;
}


.div-contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.container-contato h2{
    margin-top: 2px;
    align-items: center;
    display: flex;
    justify-content:center;
}

.rodape p{
    background-color: rgb(4, 170, 170);
    margin-bottom:0;
    color:black;
}

.zero-acucar{
    margin-top:5%;
}